@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&family=Prata&display=swap');
:root {
  --green: #51615E;
  --darkgreen: #334542;
  --navy: #162828;
  --orange:#F29D4B;
  --darkorange: #E06C36;
  --red: #AA4516;
}
/* CSS to ensure footer stays on the bottom of the page.  Adapted from Medium article: https://bit.ly/3ciGRVz */
html,
body {
 margin: 0;
 height: 100%;
 position: relative;
}
* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
footer {
  bottom: 0;
  width: 100%;
 }
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px; /* height of your footer */
}
h1, h2, h5 {
  font-family: Prata;
}
h1 {
  font-size: 2.2rem;
  letter-spacing:4px;
}
h2 {
  font-size: 2.1rem;
  letter-spacing:2px;
  color: var(--green);
}
h3 {
  font-family: Mulish;
  font-weight:700;
  color:var(--green);
  font-size:1.6em;
  letter-spacing: 0.0675rem;
}
h5 {
  font-size:1em;
  letter-spacing: 2px;
  color:var(--darkgreen);
}
p {
  font-family: Mulish;
  color: var(--green);
  font-weight:400;
}
label {
  font-family:Mulish;
  font-weight:300;
  font-size:0.8rem;
  text-transform: uppercase;
  color:var(--darkgreen);
  letter-spacing: 1px;
}
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom:1rem;
}
form {
  margin:2em 3em;
}
button {
  background-color: #ffffff;
  font-family:Mulish;
  font-weight:300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding:1.2rem 1.2rem;
  color:var(--darkgreen);
  border-color: var(--green);
}
button:hover {
  background-color:var(--darkgreen);
  transition: background-color 0.6s ease-in;
  color:white;
}
.margin-bottom {
  margin-bottom:2rem;
}
.center-text {
  text-align: center;
}
.navbar {
  overflow: hidden;
  box-shadow:0.0625rem 0.0625rem 1rem #888;
  min-height:5rem;
}
.navbar a{
  padding: 1rem 1rem;
  color: var(--green);
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  font-family:"Mulish";
  font-weight:300;
}
.navlink:hover {
  text-decoration: underline;
}
.navbar .icon {
  display: none;
}
#hero-image
{
  height: 500px;
  width: 100%;
  background-size: cover!important;
  opacity:0.8;
  background-position: center;
  background: url(../images/hero-image.jpeg) no-repeat center center;
}
#about-image
{
  height: 400px;
  width: 100%;
  background-size: cover!important;
  opacity:0.8;
  background-position: center;
  background: url(../images/about-page.jpeg) no-repeat center center;
}
#room-heading
{
  height: 400px;
  width: 100%;
  background-size: cover!important;
  opacity:0.8;
  background-position: center;
  background: url(../images/rooms-heading.jpeg) no-repeat center center;
}
#contact-heading
{
  height: 400px;
  width: 100%;
  background-size: cover!important;
  opacity:0.8;
  background-position: center;
  background: url(../images/contact-heading.jpeg) no-repeat center center;
}
#hero-text{
  color: #ffffff;
  text-transform: uppercase;
  position:absolute;
  top: 40%;
  left: 30%;
}
.page-heading {
  padding-top: 1.6em;
}
#divider {
  max-width: 5rem;
  border-width: .2rem;
  margin-top: 0rem;
  padding-bottom:3.5em;
  border: none;
  border-top: 2px solid var(--red);
}
.overlay {
  background-color:var(--orange);
  margin-top:3rem;
  box-shadow:0.0625rem 0.0625rem 0.5rem #888;
  opacity:0.9;
}
.center-image {
  height: 480px;
  width: auto;
  opacity:0.85;
  background-position: center;
  background: url(../images/galway-city.jpeg) no-repeat center center;
}
.col {
  padding:1rem 1.5rem;
}
.col i {
  color:var(--darkgreen);
  font-size:1.5xrem;
}
@media screen and (min-width: 801px) {
  .navbar {
      display: flex;
      justify-content: center;
 }
  .navlink {
      margin:1.675rem 1.675rem;
 }
  .image-mobile {
      display:none;
 }
 .split-section {
  display: flex;
  justify-content: center;
  padding:1.2rem 1.2rem;
}
.split-image {
  max-width: 25%;
  height:auto;
  box-shadow:0.0625rem 0.0625rem 1rem #888;
  opacity:0.9;
}
.split-par {
  max-width:50%;
  margin:6rem 3rem;
  line-height: 23px;
}
.split-section ul{
  margin-left: 4em;
  margin-right:4em
}
.footer-flex {
  display:flex;
  justify-content:center;
  padding:3em 10em;
}
.footer-flex div {
  max-width: 20%;
  margin:1em 4em;
}
.col-50 {
  width:50%;
}
}
@media screen and (max-width: 800px) {
  .navbar a:not(:first-child) {
      display: none;
 }
  .navbar a.icon {
      float: right;
      display: block;
 }
  .navbar.responsive {
      position: relative;
 }
  .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
 }
  .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
 }
  .image-desktop{
      display:none!important;
 }
#hero-image
 {
  height: 450px;
  background-size: cover;
  background-position: center;
  background: url(../images/hero-image.jpeg) no-repeat;
   
 }
 .split-section {
  display: block;
  justify-content: center;
  padding:1.2rem 1.2rem;
}
.split-image {
  max-width: 80%;
  height:auto;
}
.footer-flex {
  display:block;
  justify-content:space-between;
}
}


